@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: 'Noto Sans TC', sans-serif;
    color: rgb(93, 176, 182);
}



ul {
    font-family: 'Noto Sans TC', sans-serif;
}
li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: 'Noto Sans TC', sans-serif;
  }
.container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
article h3 {
    color: rgb(87, 84, 250);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.473);
}
header {
    font-size: larger;
    font-weight: 700;
    text-align: center;
    color: blanchedalmond;
}
header a {
    text-align: center;
    text-decoration: none;
    color:rgb(77, 77, 77)

}
header a:hover {
    color:rgb(87, 84, 250);
    font-weight: bolder;
}
.dark-theme {
    background-color: rgb(26, 26, 26);
}
img {
    width: 800px;
}